
<div class="toTop"></div> 
<div class="wrapper">
  <header id="header" class="js-header">
    <a href="<%= @d3_cats %>.html" class="category fancybox fancybox.ajax"><%= t(:cats)  %></a>
    <p class="logo"><%= t(:about)  %></p>
    <a href="/" class="tomain"><%= t(:to_main)  %></a>
  </header>
  <div class="content">
    <article class="post">
      <%= raw @content %>
    </article>
  </div>
  <footer id="footer">
    <section class="follow-me">
      <a href="https://github.com/generall" class="g-hub" target="_blank"></a> 
      <a href="https://twitter.com/vasnetsov93" class="twitter" target="_blank"></a>
      <a href="https://ru.linkedin.com/in/андрей-васнецов-75268897" class="linkedin" target="_blank"></a> 
    </section>
    <section class="f-logo">
      <img src="/assets/logo.png" alt="">
    </section>
    <section class="copy"><a href="about.html">Андрей Васнецов</a> &copy; 2016</section>
  </footer> 
</div>

<div style="display: none;">
  <a href="/api/graph.json">link to API to be downloaded by wget ;)</a>
</div>
